.title {
    height: 10%;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #545864;
    background-color: #f4f4f2;
    border-style: solid;
    border-width: 1px;
    border-color: #cad2d3;
}

.graph {
    height: 90%;
}

.dropdown {
    position: absolute;
    top: 70%;
    left: 3%;
    padding: 0px 0px 0px 0px;
    width: 420px;
}

.intro_box {
    position: absolute;
    top: 18%;
    left: 3%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d6d6d6;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    width: 400px;
}

.intro_title {
    font-weight: bold;
    font-size: 16px;
    color: #545864;
}

.intro_text {
    font-size: 14px;
    color: #545864;
}

.info_box {
    position: absolute;
    top: 18%;
    right: 3%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d6d6d6;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    width: 320px;
}

.info_title {
    font-weight: bold;
    font-size: 16px;
    color: #545864;
    padding-top: 10px;
    padding-bottom: 5px;
}

.info_text {
    font-size: 16px;
    color: #545864;
}

.legend_box {
    position: absolute;
    top: 40%;
    right: 3%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d6d6d6;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    width: 320px;
}

.legend_title {
    font-weight: bold;
    font-size: 14px;
    color: #545864;
    padding-top: 10px
}

.legend_subtitle {
    font-size: 14px;
    color: #545864;
    padding-bottom: 5px;
}

.legend_entry {
    padding: 0px;
    font-size: 13px;
}

.legend_symbol_circle {
    padding: 0px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
}

.legend_symbol_square {
    padding: 0px;
    width: 10px;
    height: 10px;
    font-size: 13px;
    display: inline-block;
}

.legend_arrow_up {
    width: 0; 
    height: 0; 
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-bottom: 10px solid #6b6b6b;
    display: inline-block;
}

.legend_text {
    padding: 0px 5px;
    color: #545864;
    font-size: 13px;
    display: inline-block;
}
